    /* ==UserStyle==
@name           Roam 1337 Dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Make Roam feel more like terminal
@author         Ryan Tuck
==/UserStyle== */
@-moz-document domain("roamresearch.com") {


    div {
        font-family: courier;
        color: white;
    }

    .roam-body .roam-app h1 {
        font-family: courier;
        color: white;
    }

    .rm-pages-title-text {
        color: white;
    }

    #rm-all-pages-column-titles {
        background-color: black;
    }

    .bp3-menu {
        background-color: black;
        border: solid 1px white;
    }

    .roam-body-main {
        background-color: #000;
    }

    .rm-block-input {
        font-family: courier;
    }

    .rm-page-ref__brackets {
        color: #ff0;
    }
    .rm-page-ref--link {
        color: #0f0;
    }

    .roam-toolkit-block-mode--highlight {
        background-color: #222;
        box-sizing: border-box;
        border-right: solid 3px #f00;
    }

    .roam-toolkit--hint::after {
        display: inline;
        opacity: 0.3;
        color: white;
        font-style: normal;
        text-shadow: none;
        font-weight: normal;
    }

    div#right-sidebar {
        background-color: #111;
        border-left: solid 3px white;
    }

    .rm-reference-item {
        background-color: #111;
    }

    .rm-pages-row-header {
        background-color: black;
    }

    .rm-all-pages {
        background-color: black;
    }

    .bp3-button::before {
        color: white;
    }

    a {
        color: #0ff;
    }
    
    a:hover {
        color:magenta;
    }

    * {
        font-family: courier;
    }

    .roam-body .roam-app .roam-sidebar-container {
        background-color: #111;
        border-right: solid 3px white;
    }

    .rm-saving-icon .rm-synced {
        background-color: #0f0;
        border: 1px solid black;
    }

    .roam-topbar {
        border-bottom: solid 3px white;
    }

    .rm-clickable-pill {
        background-color: #f00;
        color: white;
        opacity: 1;
    }
    .rm-clickable-pill.level1-pill {
        opacity: 1;
        background-color: #f00;
    }
    .rm-clickable-pill.level2-pill {
        opacity: 1;
        background-color: #f00;
    }

    .bp3-elevation-3 {
        background-color: #111 !important;
        border: solid 1px white !important;
    }

    /* gross! copied from https://github.com/theianjones/roam-research-themes */
    .bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"],
    .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
        background-color: #333 !important;
    }

    .CodeMirror {
        background-color: #333;
    }

    .codeMirror div {
        color: white !important;
    }

    .CodeMirror-gutters {
        background-color: #555;
    }

    .cm-atom {
        color: white !important;
    }

    .cm-qualifier {
        color: #bbb !important;
    }

    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {  
        color: white;
    }
    
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
        color: magenta;
    }
    
    .rm-bq {
        background-color: #333;
    }
    
}
